* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 15px 70px; 
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 12px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hero {
    margin: 0;
    padding: 100px 100px;
    background-color: #aed3d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero .img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
}

.hero h1 {
    font-size: 70px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hero p {
    font-weight: bold;
}

.corners {
    padding: 30px;
}

.corners h2 {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.corners h3 {
    font-size: 30px;
    margin-bottom: 30px;

}

.corners h3, .corners h2 {
    text-align: center;
    font-weight: bold;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 250px;
    overflow: hidden;
    background-color: white;
    box-shadow: 2px 5px 10px #a9cac9;
    border-radius: 5px;
}
.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px 20px;
    text-align: center;
}

.card-content .title {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

.card-content p {
    font-size: 12px;
    line-height: 1.6;
    color: rgb(122, 122, 122);

}

#card-col2 {
    margin-top: 20px;
}

.families-section {
    background-color: #aed3d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 150px;

}

.families-section h3 {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

.families-section h4 {
    font-size: 45px;
    font-weight: bold;
}

.families-description {
    display: flex;
    gap: 20px;
    max-width: 1000px; 
    line-height: 1.6;
}

.families-section a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.visit-link {
    border: 2px solid black;
    padding: 15px 25px;
    border-radius: 10px;
}

.visit-section {
    background-color:#ebf7f6;
    padding: 40px 350px;
}

.visit-section h3, .visit-section h4 {
    text-align: center;
}

.visit-section h3 {
    font-size: 12px;
    letter-spacing: 1px;
}

.visit-section h4 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
}


label, button {
    display: block;
}

input, textarea {
    display: inline-block;
    width: 100%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 8px 0;

}